@model SecureWeb.ViewModel.ChangePwViewModel

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-body">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>

                    @if (ViewBag.ShowLoginButton != null && ViewBag.ShowLoginButton)
                    {
                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
                    }
                }
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Username" class="form-control form-control-user" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="OldPassword" type="password" class="form-control form-control-user"
                            placeholder="Old Password" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="NewPassword" type="password" class="form-control form-control-user"
                            placeholder="New Password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control form-control-user"
                            placeholder="Confirm New Password" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-primary btn-user btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
