@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Secure Website</h1>
    <p>Learning Secure Web with ASP.Net (MVC)</p>
    <p>Username : @ViewBag.username</p>
    <p>Fruits :
        @foreach (var fruit in ViewBag.fruits)
        {
            <li>@fruit</li>
        }
    </p>
</div>
